VITE_APP_PRIVY_APP_ID=your_privy_app_id
VITE_APP_PRIVY_CLIENT_ID=your_privy_client_id
VITE_APP_PRIVY_REDIRECT_URI=http://localhost:5173/callback
VITE_APP_PRIVY_LOGIN_REDIRECT_URI=http://localhost:5173/callback
